@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap");
@import "tailwindcss";

:root {
  /* letter-spacing: var(--letter-spacing);
  font-optical-sizing: auto; */
  overflow-y: hidden;

  --bg-color: #070020;
  --primary-color: #7c1327;
  --secondary-color: #22032a;
  --darker: #36052b;
  --red-dark: #580d27;
  --slated-primary: #e48585;
  --slated-secondary: #f0b8b8;
  --accent-color: #c71f22;
  --text-color: #fbdfd0;
  --opacity-bg: #11111150;
}

/* react root */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  @apply mx-auto;
  max-width: 1200px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
/* 
details summary::-webkit-details-marker {
  display: none;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
} */

.main-border {
  @apply border-4 border-double border-[var(--primary-color)] rounded-md;
}

h1,
h2,
h3,
nav {
  font-family: "Press Start 2P", monospace;
}
body {
  background-image: linear-gradient(180deg, var(--secondary-color) 30%, var(--primary-color) 100%);
  font-family: "Share Tech Mono", monospace;
  /* font-size: 1.2rem; */

  background-position: center;
  background-attachment: fixed;

  color: var(--text-color);
}
